$font: 'Roboto', sans-serif;

$regular: 400;

$color-black: #000000;
$color-white: #FFFFFF;
$color-purple: #7382CD;
$color-green: #40B159;
$color-gray: #C4C4C4;
$color-light: #BFBFBF;

$duration: 200ms;
