.phrase {
  background: $color-white;
  padding: 9px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 53px;
  &__text {
    flex: 1 1 auto;
    width: 100%;
  }
  &__btn {
    background: $color-green;
    padding: 10.5px;
    flex: 0 0 auto;
    min-width: 105px;
  }
  &__text + &__btn {
    margin-left: 15px;
  }
}
