.search {
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  &__loader {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    width: 40px;
    height: 40px;
  }
  &__input {
    display: block;
    width: 100%;
    border: 1px solid $color-gray;
    height: 53px;
    background: $color-white;
    padding: 0 15px;
  }
  &__loader + &__input {
    padding-right: 63px;
  }
}
